.expand-from-left {
    max-width: 0;
    width: 30%;
    transition: max-width 0.1s ease-in-out;
    overflow: hidden;
  }
  
  .expand-from-left.collapse.show {
    max-width: 100px;
  }
  
  .expand-content {
    background-color: lightgray;
    padding: 15px;
  }

  .toggle-button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .toggl {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin: 5px;
  }
  .my-sidebar-container {
    width: 250px; /* Set the desired width */
    overflow: x; /* Hide the content that exceeds the width */
    height: 100vh;
  }
.analy{
  text-decoration: none;
}