.care {
  background: blue;
  height: 5.5vh;
  width: 100%;
  position: relative;
  bottom: 100vh;
  background: grey;  
  position: fixed;

}

.logout {
  display: flex;
  justify-content: flex-end;
position: relative;
bottom: 17px;
   color: white;

}


.navbar-fixed {
  position: fixed;
  top: 0;
  z-index: 1000; 
  background-color:#343a40;
  padding: 10px 20px; 
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-image{
  position: relative;
  left: 172vh;
  top: 5px;
}
.head999{
  display: flex;
color:white;
font-style: bold;
margin-top: 20px;
}